<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.MVCUI.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>

    @{
        bool isAuthenticated = User.Identity!.IsAuthenticated;
        bool isCreator = User.IsInRole("Creator");
        bool isResponder = User.IsInRole("Responder");
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/Home">Agency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home">Ana Sayfa</a>
                        </li>
                        @if (isCreator)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Creater" asp-controller="Survey" asp-action="Index">Anketler</a>
                            </li>
                        }
                        else if (isResponder)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Responder" asp-controller="Survey" asp-action="Index">Anketler</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav align-items-center">
                        @if (!isAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-success" style="border-radius:20px;" asp-area="" asp-controller="Home" asp-action="Login">Giriş Yap</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <button class="rounded rounded-pill" style="background-color:white;" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" style="border-radius:20px;" aria-labelledby="dropdownMenu2">
                                    @if(isCreator){
                                        <li><a class="dropdown-item" asp-area="Creater" asp-controller="Survey" asp-action="Index">Anketler</a></li>
                                    }
                                    else if (isResponder)
                                    {
                                        <li><a class="dropdown-item" asp-area="Responder" asp-controller="Survey" asp-action="Index">Anketler</a></li>
                                    }

                                    <li><button class="dropdown-item" type="button">Another action</button></li>
                                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="/Home">Çıkış Yap</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Agency Project
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
